 body{
    background-color: #BACBDB;
 }
 .container{
    display: block;
    max-width: 500px;
    margin: 30px auto;

    }
    .search-input{
        padding: 5px;
    }
    .search-button{
        padding: 5px;
        background-color: lightblue;
    }
    footer{
        text-align: center;
    }
    .section{
        background-color: #E1DCE0;
        border: 1px solid black;
    }
