 .container{
    display: block;
    max-width: 300px;
    margin: 30px auto;

    }
    .search-input{
        padding: 5px;
    }
    .search-button{
        padding: 5px;
        background-color: lightblue;
    }
