.audio-link{
    padding: 5px 15px;
    border: 1px solid black;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
transition: all .2s;
    
}
.audio-link:hover{
    background-color: #E9A098;
color: #fff;
border: none;
padding: 6px 16px;
}
.Phonetic{
    height: 40px;
    margin-top: 10px;
}